@{
    ViewData["Title"] = "Anomaly Overview";
}

<div class="container_1">
    <h1>Anomaly Detection</h1>
    <p style="color:white">
        Anomaly detection with CCTVGuard.ai leverages machine learning and artificial intelligence to learn the typical patterns of your environment. This intelligent analysis allows our system to distinguish between harmless activities and genuine threats, reducing false alarms and enhancing the accuracy of detections. With a focus on precision and reliability, CCTVGuard.ai stands at the forefront of security innovation, offering you a robust solution for safeguarding your premises.
    </p>
</div>
<h2 id="anomaly-detection-heading" style="text-align: center;margin-bottom:30px;color:rgb(207, 111, 55);">Features of Anomaly Detection</h2>
<div class="container">
    <div class="column-left">
        <div class="accordion">

            <div class="accordion-item" data-item="Assault" data-image-src="/Images/CCTV_cameras.jpg">
                <div class="accordion-header">Assault</div>
                    <div class="accordion-content">
                    <p>CCTVGuard.ai detects assault incidents in real-time by analyzing surveillance footage for aggressive behaviors. Upon detection, it immediately sends email notifications with an image of the incident, ensuring rapid response and enhanced safety for everyone on your premises.</p>
                    </div>
                </div>
            
            <div class="accordion-item" data-item="Arrest" data-image-src="/Images/image.jpg">
                <div class="accordion-header">Arrest</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai identifies and responds to arrest scenarios by monitoring for unusual restraint or detainment activities. When an arrest is detected, the system instantly sends email notifications with an image of the incident, ensuring quick verification and response. This feature enhances the security of your premises by keeping you informed of critical situations as they unfold.</p>
                </div>
            </div>
         
            <div class="accordion-item" data-item="Abuse" data-image-src="/Images/objects.jpg">
                    <div class="accordion-header">Abuse</div>
                    <div class="accordion-content">
                        <p>CCTVGuard.ai monitors for signs of abuse, detecting inappropriate or harmful behavior in real-time. When abuse is detected, immediate email notifications are sent with an image of the incident, allowing for swift action and intervention. This feature helps ensure a safer environment by promptly identifying and addressing abusive situations.</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="column-right">
        <img class="firstImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right1">
        <img class="SecondImage"  src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 2" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item1" data-item="Explosion" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Explosion</div>
                    <div class="accordion-content">
                    <p>CCTVGuard.ai detects explosion incidents by continuously monitoring for sudden, intense changes in the environment. When an explosion is detected, the system sends immediate email notifications with an image of the incident, allowing for rapid emergency response. This feature ensures enhanced safety by quickly identifying and addressing explosive events.</p>
                </div>
            </div>
           
            <div class="accordion-item1" data-item="Burglary" data-image-src="/Images/CCTV_cameras.jpg">
                <div class="accordion-header">Burglary</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai identifies burglary attempts by detecting unauthorized entry and suspicious activity. When a burglary is detected, immediate email notifications are sent with an image of the incident, enabling swift response and intervention. This feature enhances security by promptly alerting you to potential break-ins and theft.</p>
                </div>
            </div>
           
            <div class="accordion-item1" data-item="Arson" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Arson</div>
                <div class="accordion-content" style="max-height: 112px;">
                    <p>CCTVGuard.ai detects arson incidents by monitoring for unusual fire-starting behaviors and sudden bursts of flames. When arson is detected, the system immediately sends email notifications with an image of the incident,allowing for quick emergency response.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container setMargintop">
   
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item2" data-item="Shoplifting" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Shoplifting</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai detects shoplifting by monitoring for suspicious behavior and unauthorized removal of items. When shoplifting is detected, the system sends immediate email notifications with an image of the incident, enabling quick intervention and reducing losses. This feature enhances security by promptly identifying and addressing theft in retail environments.</p>
                </div>
            </div>
            <div class="accordion-item2" data-item="Fighting" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Fighting</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai continuously scans for indications of fighting, identifying aggressive or violent interactions instantly. Upon detecting a fight, instant email alerts are dispatched with an image of the event, enabling quick response and intervention. This feature contributes to a safer environment by rapidly recognizing and addressing violent conflicts.</p>
                </div>
            </div>
            <div class="accordion-item2" data-item="Shooting" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Shooting</div>
                <div class="accordion-content" style="max-height: 112px;">
                    <p>CCTVGuard.ai actively scans for signs of gunfire, identifying shooting incidents instantly. When a shooting is detected, immediate email alerts are sent with an image of the event, facilitating quick response and intervention. This feature enhances safety by quickly recognizing and addressing gun-related violence.</p>
                </div>
            </div>
        </div>
        </div>
    <div class="column-right2">
        <img class="ThirdImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 2" />
    </div>
</div>
<div class="container  setMargintop">
    <div class="column-right3">
        <img class="FourImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 2" />
    </div>
    <div class="column-left" style="padding-left:40px">
        <div class="accordion">
            <div class="accordion-item3" data-item="Stealing" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Stealing</div>
                <div class="accordion-content">
                    <p>
                        CCTVGuard.ai continuously monitors for signs of theft, identifying suspicious or unauthorized removal of items in real-time. When stealing is detected, immediate email notifications are sent with an image of the incident, allowing for swift action and intervention. This feature helps ensure a safer environment by promptly identifying and addressing theft.

                    </p>
                </div>
            </div>
            <div class="accordion-item3" data-item="Roadaccidents" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Roadaccidents</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai actively monitors for signs of road accidents, identifying collisions and dangerous driving behavior in real-time. When a road accident is detected, immediate email notifications are sent with an image of the incident, enabling quick response and intervention. This feature helps ensure a safer environment by promptly identifying and addressing traffic-related incidents.</p>
                </div>
            </div>
            <div class="accordion-item3" data-item="Vandalism" data-image-src="/Images/CCTV_cameras.jpg">
                <div class="accordion-header">Vandalism</div>
                <div class="accordion-content">
                    <p class="slow">
                        CCTVGuard.ai diligently monitors for signs of vandalism, detecting acts of property damage and defacement in real-time. When vandalism is detected, immediate email notifications are sent with an image of the incident, allowing for swift action and intervention. This feature helps ensure a safer environment by promptly identifying and addressing acts of vandalism.

                    </p>
                </div>
            </div>
            <div class="accordion-item3" data-item="Robbery" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Robbery</div>
                <div class="accordion-content">
                    <p>CCTVGuard.ai vigilantly monitors for signs of robbery, detecting theft and violent confrontations in real-time.Immediate email notifications are sent with an image of the incident, enabling swift response and intervention.</p>
                </div>
            </div>
        </div>
    </div>
</div>
        @* </div>
    </div>

</div> *@

<div style="margin-left: 200px;">
    <button style="height: 51px;margin: 36px;"><span>Learn more!</span></button>
</div>
<div class="camera_homepage" style="margin-top: 10px;background-image:url(/Images/office-block.jpg);">
    <div class="homepage_content">
        <h1>Anomaly Detection</h1>
        <p>Enhanced Anomly Detection with powerful Cctv camera solution.</p>
        <button class="homepage_btn" role="button">Start Free Trial</button>
    </div>
</div>
