@{
    ViewData["Title"] = "Face Overview";
}

    <div class="camera_homepage">
        <div class="homepage_content">
        <h1 style="color:black">Face Recognition</h1>
        <p style="color:black">
            By leveraging the power of AI, CCTVGuard.ai Automatic Face Recognition provides a robust and reliable security solution, helping organizations to monitor and protect their premises effectively.
            </p>
            <button class="homepage_btn" role="button"> 

                Start Free Trial
            </button>
        </div>
    </div>
    <div class="container_1">
        <h1>Automatic Face Recognition</h1>
        <p style="color:white">
        CCTVGuard.ai offers advanced Automatic Face Recognition technology designed to enhance security and surveillance capabilities. This technology utilizes sophisticated AI algorithms to accurately identify and verify individuals captured on camera, making it an ideal solution for various security applications.
        </p>
    </div>
<h2 style="text-align: center;margin-bottom:30px;color:rgb(207, 111, 55);">Use Cases For Face Recognition</h2>
    <div class="container">
        <div class="column-left">
            <div class="accordion">
                <div class="accordion-item"
                 data-image-src="/Images/cam.jpg">
                <div class="accordion-header">Public Safety and Security</div>
                    <div class="accordion-content">
                        <p>
                        Face recognition systems are deployed in public spaces such as airports, train stations, and stadiums to monitor and identify individuals who may pose a threat to public safety.
                        </p>
                    </div>
                </div>
                <div class="accordion-item"
                 data-image-src="/Images/Attendence Tracking.jpg">
                <div class="accordion-header">Attendance Tracking</div>
                    <div class="accordion-content">
                        <p>
                        CCTV Analysis leverages advanced face recognition technology to automate and streamline attendance tracking in various environments, such as schools, workplaces, and events.When a person’s attendance is tracked, the system sends an email notification to the owner, informing them that the individual has arrived at the office, school, or any designated location.
                    </p>
                    </div>
                </div>
                <div class="accordion-item"
                 data-image-src="/Images/bank.jpg">
                <div class="accordion-header">Banking and Finance</div>
                    <div class="accordion-content">
                        <p>
                        Banks and financial institutions use face recognition to verify customer identities during transactions and for secure access to banking services.Reduces the risk of identity theft and fraud. Provides secure and convenient authentication for users.
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="column-right">
        <img class="firstImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg"
             alt="Image 1" />
    </div>
</div>

<div class="container setMargintop">
    <div class="column-right1">
        <img class="SecondImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg"
             alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
                <div class="accordion-item1"
                 data-image-src="/Images/School.jpg">
                <div class="accordion-header">Education</div>
                    <div class="accordion-content">
                        <p>
                        Educational institutions use face recognition to automate attendance tracking and enhance campus security.Saves time and ensures accuracy in attendance records. Enhances security by monitoring unauthorized access to the campus.
                        </p>
                    </div>
                </div>
            <div class="accordion-item1"
                 data-image-src="/Images/hospital.jpg">
                <div class="accordion-header">Healthcare</div>
                <div class="accordion-content">
                    <p>
                        Hospitals and clinics use face recognition for patient identification and to access medical records quickly.Ensures accurate and timely treatment by immediately identifying patients and their medical history. Enhances security by controlling access to restricted areas.
                    </p>
                </div>
            </div>
                <div class="accordion-item1"
                     data-image-src="/Images/event.jpg">
                <div class="accordion-header">Event Management</div>
                    <div class="accordion-content">
                        <p>
                        Event organizers use face recognition technology to manage access control and enhance the security of venues hosting concerts, conferences, and large gatherings.Ensures that only authorized attendees gain entry.
                        </p>
                    </div>
                </div>
        </div>
    </div>

</div>

          
    <div style="margin-left: 200px;">
    <button style="height: 51px;margin: 36px;"><span>Learn more!</span></button>
    </div>
<div class="camera_homepage" style="margin-top: 10px;background-image:url(/Images/bk1.jpg);">
        <div class="homepage_content" style="margin-top:340px!important">
        <h1>Enhance Your Security with Face Recognition Technology</h1>
            <p>
            At CCTVGuard.ai, we bring cutting-edge face recognition technology to enhance security and streamline operations across various industries. Our advanced AI-driven systems provide high accuracy and real-time identification, ensuring that you stay one step ahead in safeguarding your premises.
        </p>
            <button class="homepage_btn" role="button">

                Start Free Trial
            </button>
        </div>
    </div>
   