@{
    ViewData["Title"] = "Home Page";
}
<div class="slideshow-container">
    <div class="mySlides fade slide1">
        <div class="numbertext">
            CCTV Analytics <br>
            Solutions <br>
            <p id="p_setting">
                Make your CCTV systems smarter with <br>
                the power of AI and Video Analytics
            </p>

        </div>
   
    </div>
    <div class="mySlides fade">
        <div class="main">
            <div class="numbertext">
                CCTV Analytics <br />
                Solution <br />
                <p id="p_setting">
                    Make your CCTV systems smarter with <br />
                    the power of AI and Video Analytics
                </p>
            </div>
            <div class="imagee">
                <!-- Corrected class name -->
                <img class="project" style="width:63%" src="/Images/bann.png" />
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="main">
            <div class="numbertext">
                CCTV Analytics <br />
                Solution <br />
                <p id="p_setting">
                    Make your CCTV systems smarter with <br />
                    the power of AI and Video Analytics
                </p>
            </div>
            <div class="imagee">
                <!-- Corrected class name -->
                <img class="project" src="/Images/project.png" />
            </div>
        </div>
    </div>


   

</div>
<br>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<!-- Slider tag End Here -->
<!-- Do Offering Section Start -->

<div class="Sub_portion">
    <div class="do_offers">
        What We Do
    </div>
    <div class="paragraph">
        <p>
            We are having the expertise in AI-Driven Vision-based Solution developments and Deployments
        </p>
    </div>
    <div class="Fire_detection">
        <div class="ficial_det" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img src="/Images/Shape2.png" alt="" id="ficial_img">
            <h4 id="get_text">FACIAL RECOGNITION</h4>
            <div id="panel">
                <div class="requrest_flex">
                    <div class="quation">Quotation request</div>
                    <div class="chosen">You have chosen:</div>
                </div>
                <div class="appli_flex">
                    <div class="application">
                        <p>
                            Please fill the application form. We will get back to you with the <br>
                            quotation shortly
                        </p>
                    </div>
                    <div class="left_object1">Object Detection</div>

                </div>
                <div class="form_flex">
                    <div class="form_setting">
                        <form action="/action_page.php">
                            <div class="name_set">
                                <input type="text" id="fname" name="fname" placeholder="Name*"><br>
                            </div>
                            <div class="email_set">
                                <input type="email" id="email" name="email" placeholder="Email*"><br>
                            </div>
                            <div class="phone_set">
                                <input id="phone" name="phone" type="tel" placeholder="Phone*"><br>
                            </div>
                            <div class="send">
                                <button id="button" name="button" type="button">SEND</button>
                            </div>
                            <div class="Go_back">
                                Go back to the Configurator
                            </div>
                        </form>
                    </div>
                    <div class="text_setting">
                        <div class="left_object2">Object Detection</div>
                        <div class="left_object2">Object Detection</div>
                        <div class="left_object2">Object Detection</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="object_detection" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img src="/Images/Shape8 -hover.png" alt="" id="object1_img">
            <h4 id="get_text">OBJECT DETECTION</h4>
        </div>
        <div class="fire_det" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img src="/Images/Shape6.png" alt="" id="fire1_img">
            <h4 id="get_text">FIRE DETECTION</h4>
        </div>
    </div>
    <!-- Second Portion ofThis part -->
    <div class="Fire_detection">
        <div class="ficial_det" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img src="/Images/Shape10.png" alt="" id="ficial1_img">
            <h4 id="get_text">FIGHT DETECTION</h4>
        </div>
        <div class="object_detection" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img src="/Images/Shape10.png" alt="" id="ficial1_img">
            <h4 id="get_text">FACIAL RECOGNITION</h4>
        </div>
        <div class="fire_det" onmouseover="hover(this)" onmouseout="hoverOut(this)">
            <img style="padding-top: 7%;" src="/Images/Shape6.png" alt="" id="fire_img">
            <h4 style="padding-top: 4%;" id="get_text">FACIAL RECOGNITION</h4>
        </div>
    </div>
</div>
<div class="Main_Config">
    <div class="config">
        <h1 id="config_opct">Configurator</h1>
    </div>
    <div id="set_opacity" class="video_analy">
        For Video Analytics License
    </div>
    <div id="set_opacity" class="main_radio">
        <div class="part1">
            <div id="rado1" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS" /></div>
            <div id="obj_opct1" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct1" class="zero">0</div>

        </div>
        <div class="part2">
            <div id="rado2" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS"></div>
            <div id="obj_opct2" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct2" class="zero">0</div>
        </div>
    </div>
    <div class="main_radio">
        <div class="part1">
            <div id="rado3" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS"></div>
            <div id="obj_opct3" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct3" class="zero">1</div>

        </div>
        <div class="part2">
            <div id="rado4" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS"></div>
            <div id="obj_opct4" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct4" class="zero">1</div>
        </div>
    </div>
    <div class="main_radio">
        <div class="part1">
            <div id="rado5" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS"></div>
            <div id="obj_opct5" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct5" class="zero">0</div>

        </div>
        <div class="part2">
            <div id="rado6" class="radio"> <input type="radio" id="css" name="fav_language" value="CSS"></div>
            <div id="obj_opct6" class="obj1">OBJECT DETECTION</div>
            <div id="zero_opct6" class="zero">0</div>
        </div>
    </div>
    <div class="cost">
        <p id="cost_opcty">
            *This cost is calculated by the machine. We'll be happy to provide you with a <br>
            personal offer based on your requirements. <span id="col_white">
                Please get in touch with us to learn
                more.
            </span>
        </p>
        <div>
            <button onclick="myFunction()" id="btn_opcity" type="button">SEND</button>
        </div>
    </div>
</div>
<div class="bckground">
    <div class="effect_img">
        <img class="back_img" src="/Images/shape.png" alt="Set_shape">
    </div>
    <div class="demo">
        Request a <br>
        <span id="demo_seting">Demo</span>
    </div>
    <div class="set_button">
        <button id="button2"> Get Start</button>
    </div>
</div>