@{
    ViewData["Title"] = "Object Overview";
}
<div class="container_1">
    <h1>Object Detection</h1>
    <p style="color:white">
        CCTV Guard Object Detection solution allows organizations
        to monitor Objects in real time and streamline investigations. The solution uses CCTV edge-based processing and
        computer vision technology to capture Object Detection and provide
        users with a searchable list of Objects.
    </p>
</div>
<h2 style="text-align: center;margin-bottom:30px;color:rgb(207, 111, 55);">Features of Object Detection</h2>
<div class="container">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item" data-item="Car" data-image-src="/Images/car.png">
                <div class="accordion-header">Car</div>
                <div class="accordion-content">
                    <p>Detect and track vehicles such as cars in real-time with our advanced object detection technology. Enhance security and monitoring capabilities with precise identification and analysis of vehicle movements.</p>
                </div>
            </div>
            <div class="accordion-item" data-item="AirPlane" data-image-src="/Images/airplane.jpg">
                <div class="accordion-header">AirPlane</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor airplanes. Enhance security by tracking airplane movements, detecting unauthorized access, and ensuring safety in areas with air traffic through real-time airplane detection.</p>
                </div>
            </div>
            <div class="accordion-item" data-item="Train" data-image-src="/Images/Trains.jpg">
                <div class="accordion-header">Train</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor trains. Enhance security by tracking train movements, detecting unauthorized access, and ensuring safety in areas with rail traffic through real-time train detection.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="column-right">
        <img class="firstImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right1">
        <img class="SecondImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item1" data-item="Bicycle" data-image-src="/Images/cycle.jpg">
                <div class="accordion-header">Bicycle</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor bicycles. Enhance security by tracking bicycle movements, detecting unauthorized access, and ensuring safety in areas with bicycle traffic through real-time bicycle detection.</p>
                </div>
            </div>

            <div class="accordion-item1" data-item="Truck" data-image-src="/Images/truck.png">
                <div class="accordion-header">Truck</div>
                <div class="accordion-content">
                    <p>Deploy advanced object detection to accurately identify and monitor trucks. Strengthen your security system by tracking truck movements, detecting unauthorized access, and ensuring safety in logistics and transportation hubs through real-time truck detection.</p>
                </div>
            </div>
            <div class="accordion-item1" data-item="Motorcycle" data-image-src="/Images/motorcycle.png">
                <div class="accordion-header">Motorcycle</div>
                <div class="accordion-content">
                    <p>Strengthen your security system by tracking motorcycle movements and maintaining safety in areas with motorcycle traffic through real-time motorcycle detection.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item2" data-item="Bus" data-image-src="/Images/bus.png">
                <div class="accordion-header">Bus</div>
                <div class="accordion-content">
                    <p>Implement state-of-the-art object detection to accurately identify and monitor buses. Strengthen your security system by tracking bus movements, detecting unauthorized access, and ensuring safety in areas with bus traffic through real-time bus detection.</p>
                </div>
            </div>
          
            <div class="accordion-item2" data-item="Boat" data-image-src="/Images/boat.jpg">
                <div class="accordion-header">Boat</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor boats. Enhance security by tracking boat movements, detecting unauthorized access, and ensuring safety in maritime environments through real-time boat detection.</p>
                </div>
            </div>
            <div class="accordion-item2" data-item="TrafficLight" data-image-src="/Images/trafficlight.jpg">
                <div class="accordion-header">Traffic Light</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor traffic lights. Enhance traffic management and safety by tracking signal states, optimizing traffic flow, and ensuring compliance with real-time traffic light detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right2">
        <img class="ThirdImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>

<div class="container setMargintop">
    <div class="column-right3">
        <img class="FourImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item3" data-item="StopSign" data-image-src="/Images/stop-sign.jpg">
                <div class="accordion-header">Stop Sign</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor stop signs. Enhance traffic management and safety by detecting stop signs, ensuring compliance with traffic regulations, and optimizing road safety through real-time stop sign detection.</p>
                </div>
            </div>
            <div class="accordion-item3" data-item="ParkingMeter" data-image-src="/Images/car-parking.jpg">
                <div class="accordion-header">Parking Meter</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor parking meters. Enhance urban management by tracking meter usage, optimizing parking availability, and ensuring efficient parking enforcement through real-time parking meter detection.</p>
                </div>
            </div>
           
            <div class="accordion-item3" data-item="Bench" data-image-src="/Images/bench.png">
                <div class="accordion-header">Bench</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor benches.Enhance urban planning by tracking public seating availability and ensuring comfortable public spaces through real-time bench detection</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item4" data-item="Bird" data-image-src="/Images/bird.jpg">
                <div class="accordion-header">Bird</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor birds. Enhance environmental monitoring by tracking avian activity, contributing to wildlife conservation efforts, and ensuring ecosystem health through real-time bird detection.</p>
                </div>
            </div>
            <div class="accordion-item4" data-item="Cat" data-image-src="/Images/cats.jpg">
                <div class="accordion-header">Cat</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection technology to accurately identify and monitor cats. Enhance pet and animal welfare by tracking feline movements, ensuring safety in urban and residential areas, and facilitating responsible pet ownership through real-time cat detection.</p>
                </div>
            </div>
            <div class="accordion-item4" data-item="Dog" data-image-src="/Images/dogs.jpg">
                <div class="accordion-header">Dog</div>
                <div class="accordion-content">
                    <p> Deploy advanced object detection to accurately identify and monitor dogs. Enhance pet safety and urban management by tracking canine movements, ensuring responsible pet ownership, and optimizing public spaces through real-time dog detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right4">
        <img class="FiveImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>

<div class="container setMargintop">
    <div class="column-right5">
        <img class="SixImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item5" data-item="Horse" data-image-src="/Images/horse.png">
                <div class="accordion-header">Horse</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor benches. Enhance urban planning by tracking public seating availability, optimizing park and street design, and ensuring comfortable public spaces through real-time bench detection</p>
                </div>
            </div>
            <div class="accordion-item5" data-item="Sheep" data-image-src="/Images/sheep.jpg">
                <div class="accordion-header">Sheep</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor sheep. Enhance livestock management by tracking flock movements, optimizing grazing areas, and ensuring efficient agricultural practices through real-time sheep detection.</p>
                </div>
            </div>
            <div class="accordion-item5" data-item="Cow" data-image-src="/Images/cow.png">
                <div class="accordion-header">Cow</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor cows. Enhance livestock management by tracking herd movements, optimizing feeding schedules, and ensuring efficient farming practices through real-time cow detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item6" data-item="Elephant" data-image-src="/Images/elephant.png">
                <div class="accordion-header">Elephant</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor elephants. Enhance wildlife conservation efforts by tracking elephant movements, contributing to habitat protection, and ensuring coexistence with local communities through real-time elephant detection.</p>
                </div>
            </div>
            <div class="accordion-item6" data-item="Bear" data-image-src="/Images/bear.jpg">
                <div class="accordion-header">Bear</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor bears. Enhance wildlife management and safety by tracking bear movements, mitigating human-wildlife conflicts, and promoting conservation efforts through real-time bear detection.</p>
                </div>
            </div>
            <div class="accordion-item6" data-item="Zebra" data-image-src="/Images/zebra.jpeg">
                <div class="accordion-header">Zebra</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor zebras. Enhance wildlife conservation efforts by tracking zebra movements, contributing to habitat preservation, and supporting eco-tourism through real-time zebra detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right6">
        <img class="SevenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>

<div class="container setMargintop">
    <div class="column-right7">
        <img class="EightImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item7" data-item="Giraffe" data-image-src="/Images/giraffe.jpg">
                <div class="accordion-header">Giraffe</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor giraffes. Enhance wildlife monitoring by tracking giraffe movements, contributing to biodiversity research, and supporting conservation efforts through real-time giraffe detection.</p>
                </div>
            </div>
            <div class="accordion-item7" data-item="Backpack" data-image-src="/Images/backpack.jpg">
                <div class="accordion-header">BackPack</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor backpacks. Enhance security and safety measures by tracking backpack-carrying individuals, ensuring compliance with access protocols, and optimizing crowd management through real-time backpack detection.</p>
                </div>
            </div>
            <div class="accordion-item7" data-item="Umbrella" data-image-src="/Images/umbrella.jpg">
                <div class="accordion-header">Umbrella</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor umbrellas. Enhance weather monitoring and urban planning by tracking umbrella usage, optimizing pedestrian comfort, and ensuring readiness for changing weather conditions through real-time umbrella detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item8" data-item="Handbag" data-image-src="/Images/handbag.png">
                <div class="accordion-header">HandBag</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor handbags. Enhance security and retail analytics by tracking handbag-carrying individuals, ensuring compliance with access protocols, and optimizing customer experience through real-time handbag detection.</p>
                </div>
            </div>
         
            <div class="accordion-item8" data-item="Suitcase" data-image-src="/Images/backpack.jpg">
                <div class="accordion-header">SuitCase</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor suitcases. Enhance travel security and logistics by tracking luggage movements, ensuring efficient handling at airports and transport hubs, and optimizing passenger experience through real-time suitcase detection.</p>
                </div>
            </div>
            <div class="accordion-item8" data-item="Bottle" data-image-src="/Images/bottle.png">
                <div class="accordion-header">Bottle</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor bottles. Enhance environmental monitoring and safety by tracking bottle usage, optimizing waste management, and promoting recycling efforts through real-time bottle detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right8">
        <img class="NineImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right9">
        <img class="TenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left: 40px;">
        <div class="accordion">
            <div class="accordion-item9" data-item="Frisbee" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Frisbee</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor frisbees. Enhance recreational activity monitoring by tracking frisbee usage, optimizing park and leisure space design, and ensuring enjoyable outdoor experiences through real-time frisbee detection.</p>
                </div>
            </div>
            <div class="accordion-item9" data-item="Skis" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Skis</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor skis. Enhance winter sports safety and recreation by tracking ski equipment, optimizing slope management, and ensuring enjoyable skiing experiences through real-time ski detection.</p>
                </div>
            </div>
            <div class="accordion-item9" data-item="Snowboard" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Snowboard</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor snowboards. Enhance winter sports safety and recreation by tracking snowboard equipment, optimizing slope management, and ensuring enjoyable snowboarding experiences through real-time snowboard detection.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item10" data-item="SurfBoard" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">SurfBoard</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor surfboards. Enhance beach safety and recreational monitoring by tracking surfboard activity, optimizing beachfront management, and ensuring enjoyable surfing experiences through real-time surfboard detection.</p>
                </div>
            </div>
            <div class="accordion-item10" data-item="TennisRacket" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Tennis Racket</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor tennis rackets. Enhance sports facility management and player analytics by tracking racket usage, optimizing court allocation, and ensuring an efficient game experience through real-time tennis racket detection.</p>
                </div>
            </div>
          
            <div class="accordion-item10" data-item="WineGlass" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Wine Glass</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor wine glasses. Enhance hospitality and event management by tracking glassware usage, ensuring compliance with service standards, and optimizing guest experience through real-time wine glass detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right10">
        <img class="ElevenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right11">
        <img class="TwelveImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item11" data-item="Cup" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Cup</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor cups. Enhance beverage service and hospitality management by tracking cup usage, optimizing inventory management, and ensuring quality customer service through real-time cup detection.</p>
                </div>
            </div>
            <div class="accordion-item11" data-item="Fork" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Fork</div>
                <div class="accordion-content">
                    <p>Implement advanced object detection to accurately identify and monitor forks. Enhance dining experience and restaurant management by tracking utensil usage, optimizing table turnover, and ensuring efficient service through real-time fork detection.</p>
                </div>
            </div>
            <div class="accordion-item11" data-item="knife" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Knife</div>
                <div class="accordion-content">
                    <p>Utilize advanced object detection to accurately identify and monitor knives. Enhance dining experience and kitchen safety by tracking utensil usage, optimizing kitchen workflow, and ensuring compliance with food safety standards through real-time knife detection.</p>
                </div>
            </div>
       </div>
     </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item12" data-item="FireHydrant" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Fire Hydrant</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item12" data-item="Spoon" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Spoon</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item12" data-item="Tie" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Tie</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right12">
        <img class="ThirteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right13">
        <img class="FourteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item13" data-item="Bowl" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Bowl</div>
                <div class="accordion-content">
                    <p>Enhance security monitoring with CCTVguard.ai's advanced bowl detection feature. Using cutting-edge AI technology, CCTVguard.ai can accurately identify bowls in real-time video feeds. Whether it's monitoring a commercial kitchen or a dining area, CCTVguard.ai ensures comprehensive coverage by detecting bowls and alerting you promptly via email notifications. Stay informed and proactive with CCTVguard.ai, your trusted partner in object detection and surveillance.</p>
                    </div>
            </div>
            <div class="accordion-item13" data-item="Banana" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Banana</div>
                <div class="accordion-content">
                    <p>CCTVguard.ai brings a new level of security with its sophisticated banana detection capability. Leveraging state-of-the-art AI, our system can swiftly and accurately identify bananas in live video streams. Ideal for environments such as grocery stores or food markets, CCTVguard.ai provides complete surveillance by recognizing bananas and immediately sending email alerts. Stay ahead with CCTVguard.ai, the reliable solution for object detection and monitoring.</p>
                </div>
            </div>
            <div class="accordion-item13" data-item="Apple" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Apple</div>
                <div class="accordion-content">
                    <p>Elevate your security measures with CCTVguard.ai's innovative apple detection feature. Utilizing advanced artificial intelligence, our system precisely identifies apples in real-time video surveillance. Perfect for places like fruit markets or food storage areas, CCTVguard.ai ensures thorough monitoring by detecting apples and instantly notifying you via email. Keep informed and secure with CCTVguard.ai, your dependable choice for object detection and surveillance.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item14" data-item="Sandwich" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Sandwich</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item14" data-item="Orange" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Orange</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item14" data-item="Broccoli" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Broccoli</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right14">
        <img class="FifteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>

<div class="container setMargintop">
    <div class="column-right15">
        <img class="SixteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item15" data-item="SportsBall" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Sports Ball</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item15" data-item="Kite" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Kite</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item15" data-item="BaseballBat" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Baseball Bat</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
  
</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item16" data-item="BaseballGlove" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Baseball Glove</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item16" data-item="Skateboard" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Skateboard</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item16" data-item="Carrot" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Carrot</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right16">
        <img class="SeventeenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right17">
        <img class="EightteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item17" data-item="HotDog" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Hot Dog</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item17" data-item="Pizza" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Pizza</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item17" data-item="Donut" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Donut</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item18" data-item="Cake" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Cake</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item18" data-item="Chair" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Chair</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item18" data-item="Couch" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Couch</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right18">
        <img class="NineteenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right19">
        <img class="TwentyImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item19" data-item="PottedPlant" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Potted Plant</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item19" data-item="Bed" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Bed</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item19" data-item="DinningTable" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Dinning Table</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item20" data-item="Weapon" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Weapon</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item20" data-item="Toilet" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Toilet</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item20" data-item="Tv" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Tv</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right20">
        <img class="TwentyOneImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right21">
        <img class="TwentyTwoImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item21" data-item="Laptop" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Laptop</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item21" data-item="Mouse" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Mouse</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item21" data-item="Remote" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Remote</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item22" data-item="Keyboard" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Keyboard</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item22" data-item="CellPhone" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Cell Phone</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item22" data-item="Microwave" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Microwave</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right22">
        <img class="TwentyThreeImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right23">
        <img class="TwentyFourImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item23" data-item="Oven" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Oven</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item23" data-item="Toaster" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Toaster</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item23" data-item="Sink" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Sink</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item24" data-item="Refrigerator" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Refrigerator</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item24" data-item="Book" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Book</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item24" data-item="Clock" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Clock</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right24">
        <img class="TwentyFiveImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right25">
        <img class="TwentySixImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item25" data-item="Vase" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Vase</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item25" data-item="Scissors" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Scissors</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item25" data-item="TeddyBear" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Teddy Bear</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container setMargintop">
    <div class="column-left">
        <div class="accordion">
            <div class="accordion-item26" data-item="HairDrier" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">HairDrier</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item26" data-item="Toothbrush" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Toothbrush</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
            <div class="accordion-item26" data-item="Abnormal" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Abnormal</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-right26">
        <img class="TwentySevenImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
</div>
<div class="container setMargintop">
    <div class="column-right27">
        <img class="TwentyEightImage" src="https://i.ytimg.com/vi/c5b3T_9UJxI/maxresdefault.jpg" alt="Image 1" />
    </div>
    <div class="column-left" style="padding-left:40px;">
        <div class="accordion">
            <div class="accordion-item27" data-item="Fire" data-image-src="/Images/objects.jpg">
                <div class="accordion-header">Fire</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to precisely identify and monitor fire hydrants. Enhance safety measures by locating fire hydrants, ensuring accessibility for emergency response, and optimizing urban planning through real-time fire hydrant detection.</p>
                </div>
            </div>
            <div class="accordion-item27" data-item="NumberPlate" data-image-src="/Images/NumberplateDetection.jpg">
                <div class="accordion-header">Number Plate</div>
                <div class="accordion-content">
                    <p>Strengthen your security framework with CCTVguard.ai's cutting-edge number plate detection capability. Harnessing the power of advanced AI technology, our system accurately identifies vehicle number plates in real-time video feeds. Ideal for applications such as parking lots, gated communities, or traffic monitoring, CCTVguard.ai ensures comprehensive surveillance by detecting number plates and sending instant email notifications. Stay vigilant and informed with CCTVguard.ai, your trusted partner in object detection and security monitoring.</p>
                </div>
            </div>
            <div class="accordion-item27" data-item="Weapondataset" data-image-src="/Images/1658862942751.jpeg">
                <div class="accordion-header">Weapondataset</div>
                <div class="accordion-content">
                    <p>Employ advanced object detection to accurately identify and monitor ties. Enhance professional attire monitoring and retail analytics by tracking tie-wearing individuals, ensuring compliance with dress codes, and optimizing customer satisfaction through real-time tie detection.</p>
                </div>
            </div>
        </div>
    </div>

</div>



<div style="margin-left: 200px;">
    <button style="height: 51px;margin: 36px;"><span>Learn more!</span></button>
</div>
<div class="camera_homepage" style="margin-top: 10px;background-image:url(/Images/ObjectDetection.jpg);">
    <div class="homepage_content">
        <h1>Object Detection</h1>
        <p>Enhanced Object Detection with powerful Cctv camera solution.</p>
        <button class="homepage_btn" role="button">Start Free Trial</button>
    </div>
</div>

